.market {
  display: flex;
  flex-direction: column;
  padding: 16rem 5.625rem 0;
  background: var(--color-bg);
  align-items: center;
}
.marketText {
  font-family: var(--font-main-medium);
  font-weight: 500;
  color: var(--color-font-header);
  font-size: 1rem;
  text-align: center;
}
.marketImage {
  width: 50%;
  height: auto;
  margin: 1.5rem 0;
}

@media screen and (max-width: 996px) {
  .market {
    padding: 10rem 2rem 0;
  }
  .marketImage {
    margin: 0.5rem 0;
  }
  .marketText {
    margin: 0;
  }
}
@media screen and (max-width: 996px) {
  .marketImage {
    width: 70%;
  }
}
