.market {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  align-items: center;
}
.marketText {
  font-family: var(--font-main-medium);
  font-weight: 500;
  color: var(--color-font-header);
  font-size: 1rem;
  text-align: center;
}
.marketImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  .marketImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}