.membership {
  display: flex;
  flex-direction: column;
  padding: 16rem 2rem 0;
}
.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-self: center;
  align-items: center;
  justify-self: center;
  gap: 5rem;
  margin-top: 1rem;
}
.membershipTitle {
  font-family: var(--font-main-medium);
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--color-font-header);
  align-self: center;
}
.member {
  width: 15rem;
  height: auto;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .members {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
