.sandbox {
  display: flex;
  flex-direction: column;
  padding: 16rem 2rem 0;
  align-items: center;
  justify-content: center;
  background: var(--color-bg);
}
.sandboxText {
  font-family: var(--font-main-medium);
  font-weight: 500;
  font-size: 1.25rem;
}
