.useCases {
  display: flex;
  flex-direction: column;
  padding: 16rem 5.625rem 0;
  background: var(--color-bg);
}
.useCasesTitle {
  font-family: var(--font-main-medium);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary);
  letter-spacing: 0.18rem;
  align-self: center;
}
.useCasesHeader {
  font-family: var(--font-main-semibold);
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-font-header);
  align-self: center;
  text-align: center;
  width: 60%;
}
.icon {
  height: 2rem;
  width: 2rem;
  fill: white;
}
.useCasesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 3rem;
}
.container {
  height: 15.5rem;
  padding: 2.25rem;
  color: var(--color-white);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1),
    -1px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.container:hover {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1),
    -2px 0px 8px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.iconContainer {
  background: var(--color-gradient);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.75rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.contentHeader {
  font-family: var(--font-main-semibold);
  font-weight: 600;
  color: var(--color-font-header);
  font-size: 1rem;
  margin: 0;
}
.container:hover .contentHeader {
  color: var(--color-gradient);
  transition: color 0.3s ease;
}
.contentDescription {
  font-family: var(--font-main-regular);
  font-weight: 400;
  color: var(--color-font-sub);
  font-size: 0.875rem;
  margin: 0;
}

@media screen and (max-width: 1050px) {
  .useCases {
    padding: 10rem 2rem 0;
  }
  .container {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 880px) {
  .useCasesContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .useCasesContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .useCasesHeader {
    width: 100%;
  }
}
