.mileStones {
  background-color: #082c74;
  color: white;
}
.mileStones h1,
h3 {
  color: white;
}
.mileStones h3 {
  position: relative;
  font-size: 38px;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #5096ff;
}
.mileStones ul {
  margin-bottom: 0;
}
.mileStones .milestoneCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
.mileStones h3::before {
  position: absolute;
  content: "";
  top: 100%;
  transform: translate(0, -50%);
  background-color: #082c74;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 2px solid #5096ff;
}
@media screen and (max-width: 1024px) {
  .mileStones h3 {
    text-align: left;
    border-bottom: none;
    padding-bottom: 0rem;
    padding-left: 1.5rem;
    line-height: 14px;
  }
  .mileStones h3::before {
    top: 50%;
    transform: translate(-51%, -50%);
  }
  .mileStones .milestoneCards{
    grid-template-columns: 1fr;
    text-align: left;
    border-left: 2px solid #5096ff;
  }

}
@media screen and (max-width: 767px) {
  .mileStones h3 {
    font-size: 28px;
  }
}
