.testimonials {
  display: flex;
  flex-direction: column;
  padding: 16rem 5.625rem 0;
  background: var(--color-bg);
}
.testimonialsTitle {
  font-family: var(--font-main-medium);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary);
  letter-spacing: 0.18rem;
  align-self: center;
}
.testimonialsHeader {
  font-family: var(--font-main-semibold);
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-font-header);
  align-self: center;
  text-align: center;
}